In [7]:
#Establish required libraries

import sys
import types
import pandas as pd 
from botocore.client import Config
import ibm_boto3


import numpy as np
import pandas as pd
from pandas import Series, DataFrame, Index
from IPython.display import Image

def __iter__(self): return 0

import pandas as pd
import numpy as np 

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [8]:
#Establish Libraries and connect to object storage
import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_e2f5521e5ce34913a7133599cf5a489b = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='xxxxx',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_e2f5521e5ce34913a7133599cf5a489b.get_object(Bucket='tradepromotioncampaignevaluation-donotdelete-pr-jezovp3wjfejkl',Key='all products.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)

df_data_1.info()

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385636 entries, 0 to 385635
Data columns (total 72 columns):
Demo_Key                                    385636 non-null int64
Promo_ID                                    385636 non-null object
Promo_CPG_Name                              281228 non-null object
Promo_Name                                  385636 non-null object
Retailer_Promo_Contract_ID                  0 non-null float64
Retailer_Name                               385636 non-null object
Retailer_Store_ID                           385636 non-null object
Product_Unit_UPC                            385636 non-null object
Product_Group_ID                            385635 non-null object
Product_Brand                               385636 non-null object
Product_Brand_Category_Desc                 385636 non-null object
Product_Category                            385636 non-null object
Product_Sub_Category                        385636 non-null object
Product_Type                                385636 non-null object
Product_Unit_Description                    385636 non-null object
Retailer_Product_Base_Day_Unit_Volume       385636 non-null float64
Product_CPG_COGS_Price                      385636 non-null float64
Product_Unit_CPG_Retailer_Price             385636 non-null float64
Product_Unit_CPG_Retailer_Discount_Price    385636 non-null float64
Product_Promo_Trade_Investment_Per_Unit     385636 non-null float64
Product_Unit_Retailer_Markup_%              385636 non-null float64
Retailer_Product_Regular_Unit_Price         385636 non-null float64
TPP_Status                                  385636 non-null object
TPP_Discount_%                              385636 non-null float64
TPP_Unit_Sale_Price                         385636 non-null float64
TPP_Baseline_Unit_Volume                    385636 non-null float64
TPP_Start                                   385636 non-null object
TPP_End                                     385636 non-null object
TPP_Duration                                385636 non-null float64
TPP_Type                                    385636 non-null object
Product_Units_Per_Case                      385636 non-null float64
TPP_Baseline_Cases_Volume                   385636 non-null float64
TPP_Baseline_Cost                           385636 non-null float64
TPP_Baseline_Sales_Revenue                  385636 non-null float64
TPP_Baseline_Retailer_Profit                385636 non-null float64
TPP_Baseline_ROI                            385636 non-null float64
TPP_ACV%                                    385635 non-null float64
TPP_Budget                                  385636 non-null float64
TPP_Incremental_Unit_%                      385636 non-null float64
TPP_Incremental_Unit_Volume                 385636 non-null float64
TPP_Incremental_Cases                       385636 non-null float64
TPP_Incremental_Revenue                     385636 non-null float64
TPP_Incremental_Costs                       385636 non-null float64
TPP_Units_Ship                              385636 non-null float64
TPP_Cases_Ship                              385636 non-null float64
TPP_Fixed_Fees                              385636 non-null float64
TPP_Incremental_Variable_Fees               385636 non-null float64
TPP_Total_Fees                              385636 non-null float64
TPP_Comments                                0 non-null float64
TPP_Retailer_ROI%                           385636 non-null float64
TPP_CPG_ROI%                                385636 non-null float64
TPPA_Type                                   385636 non-null object
TPPA_Cost                                   385636 non-null float64
TPPA_Unit_Sale_Price                        385636 non-null float64
TPPA_Discount                               385636 non-null float64
TPPA_Fixed_Fees                             385636 non-null float64
TPPA_Variable_Fees                          385636 non-null float64
TPPA_Total_Fees                             385636 non-null float64
TPPA_Units_Sold                             385636 non-null float64
TPPA_Cases_Sold                             385636 non-null float64
TPPA_Incremental_Cases_Sold                 385636 non-null float64
TPPA_Incremental_Unit_Volume                385636 non-null float64
TPPA_Incremental_Cost                       385636 non-null float64
TPPA_Incremental_Revenue                    385636 non-null float64
TPPA_Incremental_Unit_%                     385636 non-null float64
TPPA_Days_Payment_Due                       385636 non-null float64
TPPA_Days_Payment_Late_Outstanding          385636 non-null float64
TPPA_Payment+Compliance_Calc                385636 non-null object
TPPA_Payment_In_Compliance                  385636 non-null object
TPPA_%ACV                                   385635 non-null float64
TPPA_Retailer_ROI%                          385636 non-null float64
TPPA_CPG_ROI%                               385636 non-null float64
dtypes: float64(51), int64(1), object(20)
memory usage: 211.8+ MB

In [9]:
#select the fields you need
df_price_elasticity = df_data_1[['Promo_ID','Promo_Name','Retailer_Name','Retailer_Store_ID','Product_Category',
                                 'Product_Sub_Category',
                             'Product_Unit_UPC','Product_Group_ID','Product_Brand','Product_Brand_Category_Desc',
                              'Product_Unit_Description','Retailer_Product_Base_Day_Unit_Volume',
                              'TPP_Unit_Sale_Price','Retailer_Product_Regular_Unit_Price','TPP_Incremental_Cases',
                             'TPP_Baseline_Cases_Volume','TPP_Type','TPP_Start','TPP_End','Product_Units_Per_Case','Product_CPG_COGS_Price']]

In [10]:
#Visually inspect the different products in the table
df_price_elasticity.Product_Sub_Category.value_counts(dropna = False).sort_index()

Cereal         67360
Cleaners       30312
Ice Cream      47152
Trail Mix      74096
Vegetables    116196
Yogurt         50520
Name: Product_Sub_Category, dtype: int64

In [11]:
df_price_elasticity.shape

(385636, 21)

In [12]:
#De-Dup the file
df_price_elasticity=df_price_elasticity.drop_duplicates(subset=['Promo_ID','Retailer_Store_ID','Product_Unit_UPC'], keep='first', inplace=False)
df_price_elasticity.shape

(385636, 21)

In [13]:
#remove all products but the one we use

df_price_elasticity=df_price_elasticity[df_price_elasticity['Product_Sub_Category'] =='Yogurt']
df_price_elasticity.shape

(50520, 21)

In [14]:
#create a new field for size
df_price_elasticity['SIZE']=pd.DataFrame(df_price_elasticity['Product_Group_ID'].str[-2:])

In [15]:
df_price_elasticity.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50520 entries, 67360 to 117879
Data columns (total 22 columns):
Promo_ID                                 50520 non-null object
Promo_Name                               50520 non-null object
Retailer_Name                            50520 non-null object
Retailer_Store_ID                        50520 non-null object
Product_Category                         50520 non-null object
Product_Sub_Category                     50520 non-null object
Product_Unit_UPC                         50520 non-null object
Product_Group_ID                         50520 non-null object
Product_Brand                            50520 non-null object
Product_Brand_Category_Desc              50520 non-null object
Product_Unit_Description                 50520 non-null object
Retailer_Product_Base_Day_Unit_Volume    50520 non-null float64
TPP_Unit_Sale_Price                      50520 non-null float64
Retailer_Product_Regular_Unit_Price      50520 non-null float64
TPP_Incremental_Cases                    50520 non-null float64
TPP_Baseline_Cases_Volume                50520 non-null float64
TPP_Type                                 50520 non-null object
TPP_Start                                50520 non-null object
TPP_End                                  50520 non-null object
Product_Units_Per_Case                   50520 non-null float64
Product_CPG_COGS_Price                   50520 non-null float64
SIZE                                     50520 non-null object
dtypes: float64(7), object(15)
memory usage: 8.9+ MB

In [16]:
#create a copy of the original data set
sale=df_price_elasticity

In [17]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50520 entries, 67360 to 117879
Data columns (total 22 columns):
Promo_ID                                 50520 non-null object
Promo_Name                               50520 non-null object
Retailer_Name                            50520 non-null object
Retailer_Store_ID                        50520 non-null object
Product_Category                         50520 non-null object
Product_Sub_Category                     50520 non-null object
Product_Unit_UPC                         50520 non-null object
Product_Group_ID                         50520 non-null object
Product_Brand                            50520 non-null object
Product_Brand_Category_Desc              50520 non-null object
Product_Unit_Description                 50520 non-null object
Retailer_Product_Base_Day_Unit_Volume    50520 non-null float64
TPP_Unit_Sale_Price                      50520 non-null float64
Retailer_Product_Regular_Unit_Price      50520 non-null float64
TPP_Incremental_Cases                    50520 non-null float64
TPP_Baseline_Cases_Volume                50520 non-null float64
TPP_Type                                 50520 non-null object
TPP_Start                                50520 non-null object
TPP_End                                  50520 non-null object
Product_Units_Per_Case                   50520 non-null float64
Product_CPG_COGS_Price                   50520 non-null float64
SIZE                                     50520 non-null object
dtypes: float64(7), object(15)
memory usage: 8.9+ MB

In [18]:
# create rename the sale price to price, create the cases and units field, drop fields you don't need anymore
#label all of the records as sale records

sale=sale.rename(index=str, columns={"TPP_Unit_Sale_Price": "PRICE"})
sale['CASES'] = sale['TPP_Baseline_Cases_Volume'] + sale['TPP_Incremental_Cases'] 
sale['GROUP']='ONSALE'
sale['UNITS']=sale['CASES']*sale['Product_Units_Per_Case']
sale=sale.drop(['TPP_Baseline_Cases_Volume', 'TPP_Incremental_Cases','Retailer_Product_Regular_Unit_Price','Retailer_Product_Base_Day_Unit_Volume'], axis=1)

In [19]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50520 entries, 67360 to 117879
Data columns (total 21 columns):
Promo_ID                       50520 non-null object
Promo_Name                     50520 non-null object
Retailer_Name                  50520 non-null object
Retailer_Store_ID              50520 non-null object
Product_Category               50520 non-null object
Product_Sub_Category           50520 non-null object
Product_Unit_UPC               50520 non-null object
Product_Group_ID               50520 non-null object
Product_Brand                  50520 non-null object
Product_Brand_Category_Desc    50520 non-null object
Product_Unit_Description       50520 non-null object
PRICE                          50520 non-null float64
TPP_Type                       50520 non-null object
TPP_Start                      50520 non-null object
TPP_End                        50520 non-null object
Product_Units_Per_Case         50520 non-null float64
Product_CPG_COGS_Price         50520 non-null float64
SIZE                           50520 non-null object
CASES                          50520 non-null float64
GROUP                          50520 non-null object
UNITS                          50520 non-null float64
dtypes: float64(5), object(16)
memory usage: 8.5+ MB

In [20]:
#copy the orginal data set, create the non-sale prices
nosale=df_price_elasticity

In [21]:
nosale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50520 entries, 67360 to 117879
Data columns (total 22 columns):
Promo_ID                                 50520 non-null object
Promo_Name                               50520 non-null object
Retailer_Name                            50520 non-null object
Retailer_Store_ID                        50520 non-null object
Product_Category                         50520 non-null object
Product_Sub_Category                     50520 non-null object
Product_Unit_UPC                         50520 non-null object
Product_Group_ID                         50520 non-null object
Product_Brand                            50520 non-null object
Product_Brand_Category_Desc              50520 non-null object
Product_Unit_Description                 50520 non-null object
Retailer_Product_Base_Day_Unit_Volume    50520 non-null float64
TPP_Unit_Sale_Price                      50520 non-null float64
Retailer_Product_Regular_Unit_Price      50520 non-null float64
TPP_Incremental_Cases                    50520 non-null float64
TPP_Baseline_Cases_Volume                50520 non-null float64
TPP_Type                                 50520 non-null object
TPP_Start                                50520 non-null object
TPP_End                                  50520 non-null object
Product_Units_Per_Case                   50520 non-null float64
Product_CPG_COGS_Price                   50520 non-null float64
SIZE                                     50520 non-null object
dtypes: float64(7), object(15)
memory usage: 8.9+ MB

In [22]:
#create the cases and price field
nosale=nosale.rename(index=str, columns={"TPP_Baseline_Cases_Volume": "CASES", "Retailer_Product_Regular_Unit_Price":"PRICE"})

In [23]:
nosale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50520 entries, 67360 to 117879
Data columns (total 22 columns):
Promo_ID                                 50520 non-null object
Promo_Name                               50520 non-null object
Retailer_Name                            50520 non-null object
Retailer_Store_ID                        50520 non-null object
Product_Category                         50520 non-null object
Product_Sub_Category                     50520 non-null object
Product_Unit_UPC                         50520 non-null object
Product_Group_ID                         50520 non-null object
Product_Brand                            50520 non-null object
Product_Brand_Category_Desc              50520 non-null object
Product_Unit_Description                 50520 non-null object
Retailer_Product_Base_Day_Unit_Volume    50520 non-null float64
TPP_Unit_Sale_Price                      50520 non-null float64
PRICE                                    50520 non-null float64
TPP_Incremental_Cases                    50520 non-null float64
CASES                                    50520 non-null float64
TPP_Type                                 50520 non-null object
TPP_Start                                50520 non-null object
TPP_End                                  50520 non-null object
Product_Units_Per_Case                   50520 non-null float64
Product_CPG_COGS_Price                   50520 non-null float64
SIZE                                     50520 non-null object
dtypes: float64(7), object(15)
memory usage: 8.9+ MB

In [24]:
#Calculate the number of Units
nosale['UNITS']=nosale['CASES']*nosale['Product_Units_Per_Case']

In [25]:
#identify the prices as non-sale prices.
nosale['GROUP']='NOTONSALE'


#Remove stuff you don't need


nosale=nosale.drop([ 'TPP_Incremental_Cases','TPP_Unit_Sale_Price','Retailer_Product_Base_Day_Unit_Volume','TPP_Type'], axis=1)
nosale['TPP_Type']='N'

In [26]:
nosale.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Category,Product_Sub_Category,Product_Unit_UPC,Product_Group_ID,Product_Brand,Product_Brand_Category_Desc,...,PRICE,CASES,TPP_Start,TPP_End,Product_Units_Per_Case,Product_CPG_COGS_Price,SIZE,UNITS,GROUP,TPP_Type
67360,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,Dairy,Yogurt,22308-22106,CC-D-Y-R-6,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,...,0.59,9.0,2019-02-15,2019-02-24,12.0,0.42,-6,108.0,NOTONSALE,N
67361,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,Dairy,Yogurt,22308-22132,CC-D-Y-R-32,Cheerful Cow,Cheerful Cow Yogurt Regular 32 oz,...,2.50,18.0,2019-02-15,2019-02-24,6.0,1.79,32,108.0,NOTONSALE,N
67362,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,Dairy,Yogurt,22308-22148,CC-D-Y-R-48,Cheerful Cow,Cheerful Cow Yogurt Regular 48 oz,...,3.92,14.0,2019-02-15,2019-02-24,8.0,2.80,48,112.0,NOTONSALE,N
67363,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,Dairy,Yogurt,22308-22206,CC-D-Y-R-6,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,...,0.59,9.0,2019-02-15,2019-02-24,12.0,0.42,-6,108.0,NOTONSALE,N
67364,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,Dairy,Yogurt,22308-22306,CC-D-Y-R-6,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,...,0.59,9.0,2019-02-15,2019-02-24,12.0,0.42,-6,108.0,NOTONSALE,N

In [27]:
sale.info()
nosale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50520 entries, 67360 to 117879
Data columns (total 21 columns):
Promo_ID                       50520 non-null object
Promo_Name                     50520 non-null object
Retailer_Name                  50520 non-null object
Retailer_Store_ID              50520 non-null object
Product_Category               50520 non-null object
Product_Sub_Category           50520 non-null object
Product_Unit_UPC               50520 non-null object
Product_Group_ID               50520 non-null object
Product_Brand                  50520 non-null object
Product_Brand_Category_Desc    50520 non-null object
Product_Unit_Description       50520 non-null object
PRICE                          50520 non-null float64
TPP_Type                       50520 non-null object
TPP_Start                      50520 non-null object
TPP_End                        50520 non-null object
Product_Units_Per_Case         50520 non-null float64
Product_CPG_COGS_Price         50520 non-null float64
SIZE                           50520 non-null object
CASES                          50520 non-null float64
GROUP                          50520 non-null object
UNITS                          50520 non-null float64
dtypes: float64(5), object(16)
memory usage: 8.5+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 50520 entries, 67360 to 117879
Data columns (total 21 columns):
Promo_ID                       50520 non-null object
Promo_Name                     50520 non-null object
Retailer_Name                  50520 non-null object
Retailer_Store_ID              50520 non-null object
Product_Category               50520 non-null object
Product_Sub_Category           50520 non-null object
Product_Unit_UPC               50520 non-null object
Product_Group_ID               50520 non-null object
Product_Brand                  50520 non-null object
Product_Brand_Category_Desc    50520 non-null object
Product_Unit_Description       50520 non-null object
PRICE                          50520 non-null float64
CASES                          50520 non-null float64
TPP_Start                      50520 non-null object
TPP_End                        50520 non-null object
Product_Units_Per_Case         50520 non-null float64
Product_CPG_COGS_Price         50520 non-null float64
SIZE                           50520 non-null object
UNITS                          50520 non-null float64
GROUP                          50520 non-null object
TPP_Type                       50520 non-null object
dtypes: float64(5), object(16)
memory usage: 8.5+ MB

In [28]:
#include needed fields
nosale = nosale[['Promo_ID',
 'Promo_Name',
 'Retailer_Name',
 'Retailer_Store_ID',
 'Product_Group_ID',
 'Product_Unit_UPC',
 'Product_Brand',
 'Product_Brand_Category_Desc',
 'Product_Unit_Description',
 'PRICE',
 'TPP_Type',
 'TPP_Start',
 'TPP_End',
 'Product_Units_Per_Case',
 'Product_CPG_COGS_Price',
 'SIZE',
 'CASES',
 'GROUP',
 'UNITS']]

In [29]:
#include needed fields
sale = sale[['Promo_ID',
 'Promo_Name',
 'Retailer_Name',
 'Retailer_Store_ID',
 'Product_Group_ID',
 'Product_Unit_UPC',
 'Product_Brand',
 'Product_Brand_Category_Desc',
 'Product_Unit_Description',
 'PRICE',
 'TPP_Type',
 'TPP_Start',
 'TPP_End',
 'Product_Units_Per_Case',
 'Product_CPG_COGS_Price',
 'SIZE',
 'CASES',
 'GROUP',
 'UNITS']]

In [30]:
sale.info()
nosale.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50520 entries, 67360 to 117879
Data columns (total 19 columns):
Promo_ID                       50520 non-null object
Promo_Name                     50520 non-null object
Retailer_Name                  50520 non-null object
Retailer_Store_ID              50520 non-null object
Product_Group_ID               50520 non-null object
Product_Unit_UPC               50520 non-null object
Product_Brand                  50520 non-null object
Product_Brand_Category_Desc    50520 non-null object
Product_Unit_Description       50520 non-null object
PRICE                          50520 non-null float64
TPP_Type                       50520 non-null object
TPP_Start                      50520 non-null object
TPP_End                        50520 non-null object
Product_Units_Per_Case         50520 non-null float64
Product_CPG_COGS_Price         50520 non-null float64
SIZE                           50520 non-null object
CASES                          50520 non-null float64
GROUP                          50520 non-null object
UNITS                          50520 non-null float64
dtypes: float64(5), object(14)
memory usage: 7.7+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 50520 entries, 67360 to 117879
Data columns (total 19 columns):
Promo_ID                       50520 non-null object
Promo_Name                     50520 non-null object
Retailer_Name                  50520 non-null object
Retailer_Store_ID              50520 non-null object
Product_Group_ID               50520 non-null object
Product_Unit_UPC               50520 non-null object
Product_Brand                  50520 non-null object
Product_Brand_Category_Desc    50520 non-null object
Product_Unit_Description       50520 non-null object
PRICE                          50520 non-null float64
TPP_Type                       50520 non-null object
TPP_Start                      50520 non-null object
TPP_End                        50520 non-null object
Product_Units_Per_Case         50520 non-null float64
Product_CPG_COGS_Price         50520 non-null float64
SIZE                           50520 non-null object
CASES                          50520 non-null float64
GROUP                          50520 non-null object
UNITS                          50520 non-null float64
dtypes: float64(5), object(14)
memory usage: 7.7+ MB

In [31]:
#append the sale and non-sale records into one dataframe
df_total=pd.DataFrame(sale.append(nosale, ignore_index=True, verify_integrity=False))

In [32]:
#convert the tpp_start which is character to a pandas date field
df_total['date'] = pd.to_datetime(df_total['TPP_Start'])
df_total.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,TPP_Type,TPP_Start,TPP_End,Product_Units_Per_Case,Product_CPG_COGS_Price,SIZE,CASES,GROUP,UNITS,date
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,D,2019-02-15,2019-02-24,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-32,22308-22132,Cheerful Cow,Cheerful Cow Yogurt Regular 32 oz,Cheerful Cow Strawberry 32 oz,2.35,D,2019-02-15,2019-02-24,6.0,1.79,32,59.0,ONSALE,354.0,2019-02-15
2,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-48,22308-22148,Cheerful Cow,Cheerful Cow Yogurt Regular 48 oz,Cheerful Cow Strawberry 48 oz,3.68,D,2019-02-15,2019-02-24,8.0,2.80,48,44.0,ONSALE,352.0,2019-02-15
3,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22206,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Harvest Peach 6 oz,0.55,D,2019-02-15,2019-02-24,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15
4,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22306,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Peanutbutter Chocolate 6 oz,0.55,D,2019-02-15,2019-02-24,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15

In [33]:
#create a field for year and month
df_total['year'], df_total['month'] = df_total['date'].dt.year, df_total['date'].dt.month
df_total.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,TPP_End,Product_Units_Per_Case,Product_CPG_COGS_Price,SIZE,CASES,GROUP,UNITS,date,year,month
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-24,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-32,22308-22132,Cheerful Cow,Cheerful Cow Yogurt Regular 32 oz,Cheerful Cow Strawberry 32 oz,2.35,...,2019-02-24,6.0,1.79,32,59.0,ONSALE,354.0,2019-02-15,2019,2
2,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-48,22308-22148,Cheerful Cow,Cheerful Cow Yogurt Regular 48 oz,Cheerful Cow Strawberry 48 oz,3.68,...,2019-02-24,8.0,2.80,48,44.0,ONSALE,352.0,2019-02-15,2019,2
3,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22206,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Harvest Peach 6 oz,0.55,...,2019-02-24,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2
4,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22306,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Peanutbutter Chocolate 6 oz,0.55,...,2019-02-24,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2

In [34]:
#assign random numbers to each retailer in a field called RETAILER_R
wookie = pd.DataFrame(df_total.groupby(['Retailer_Store_ID'])['PRICE'].mean())
wookie=wookie.drop(['PRICE'], axis=1)

In [35]:
wookie['Retailer_R'] = (np.random.randint(-30, 60, wookie.shape[0]))/1000
wookie.reset_index(level=0, inplace=True)
wookie.head()

  Retailer_Store_ID  Retailer_R
0   12345-10024-126       0.056
1   12345-14213-136       0.007
2   12345-14601-157       0.034
3   12345-15225-129       0.041
4   12345-15225-167       0.048

In [36]:
df_total1 =df_total.merge(wookie, on=['Retailer_Store_ID'], how='inner')
df_total1.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,Product_Units_Per_Case,Product_CPG_COGS_Price,SIZE,CASES,GROUP,UNITS,date,year,month,Retailer_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-32,22308-22132,Cheerful Cow,Cheerful Cow Yogurt Regular 32 oz,Cheerful Cow Strawberry 32 oz,2.35,...,6.0,1.79,32,59.0,ONSALE,354.0,2019-02-15,2019,2,0.013
2,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-48,22308-22148,Cheerful Cow,Cheerful Cow Yogurt Regular 48 oz,Cheerful Cow Strawberry 48 oz,3.68,...,8.0,2.80,48,44.0,ONSALE,352.0,2019-02-15,2019,2,0.013
3,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22206,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Harvest Peach 6 oz,0.55,...,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013
4,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22306,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Peanutbutter Chocolate 6 oz,0.55,...,12.0,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013

In [37]:
#assign random numbers to each product group id
df_total1.Product_Group_ID.value_counts(dropna = False).sort_index()

CC-D-Y-L-6      20208
CC-D-Y-LF-32     3368
CC-D-Y-R-32     13472
CC-D-Y-R-48     20208
CC-D-Y-R-6      43784
Name: Product_Group_ID, dtype: int64

In [38]:
 wookie = pd.DataFrame(df_total1.groupby(['Product_Group_ID'])['PRICE'].mean())
wookie=wookie.drop(['PRICE'], axis=1)

In [39]:
wookie['PRODUCT_GROUP_ID_R'] = (np.random.randint(-30, 60, wookie.shape[0]))/1000
wookie.reset_index(level=0, inplace=True)
wookie.head()

  Product_Group_ID  PRODUCT_GROUP_ID_R
0       CC-D-Y-L-6              -0.014
1     CC-D-Y-LF-32               0.001
2      CC-D-Y-R-32               0.043
3      CC-D-Y-R-48               0.014
4       CC-D-Y-R-6              -0.015

In [40]:
#!pip install plotly --upgrade

In [41]:
df_total2 =df_total1.merge(wookie, on=['Product_Group_ID'], how='inner')
df_total2.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,Product_CPG_COGS_Price,SIZE,CASES,GROUP,UNITS,date,year,month,Retailer_R,PRODUCT_GROUP_ID_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22206,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Harvest Peach 6 oz,0.55,...,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015
2,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22306,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Peanutbutter Chocolate 6 oz,0.55,...,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015
3,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22406,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Pumpkin Pie 6 oz,0.55,...,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015
4,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22506,Cheerful Cow,Cheerful Cow Yogurt Regular 6 oz,Cheerful Cow Apple Crisp 6 oz,0.55,...,0.42,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015

In [42]:
#assign random numbers to each product unit upc value
df_total2.Product_Unit_UPC.value_counts(dropna = False).sort_index()

22308-22106    3368
22308-22132    3368
22308-22148    3368
22308-22206    3368
22308-22306    3368
22308-22406    3368
22308-22506    3368
22308-22606    3368
22308-22706    3368
22308-22806    3368
22308-22906    3368
22308-23006    3368
22308-23106    3368
22308-23206    3368
22308-23306    3368
22308-24032    3368
22308-24048    3368
22308-24132    3368
22308-28848    3368
22308-28948    3368
22308-29048    3368
22308-29132    3368
22308-29248    3368
22318-23406    3368
22318-23506    3368
22318-23606    3368
22318-23706    3368
22318-23806    3368
22318-23906    3368
22328-24032    3368
Name: Product_Unit_UPC, dtype: int64

In [43]:
wookie = pd.DataFrame(df_total2.groupby(['Product_Unit_UPC'])['PRICE'].mean())
wookie=wookie.drop(['PRICE'], axis=1)

wookie['Product_Unit_UPC_R'] = (np.random.randint(-30, 60, wookie.shape[0]))/1000
wookie.reset_index(level=0, inplace=True)
wookie.head()
df_total3 =df_total2.merge(wookie, on=['Product_Unit_UPC'], how='inner')
df_total3.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,SIZE,CASES,GROUP,UNITS,date,year,month,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,-6,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015,-0.015
1,Brandega-23504,Thunder Rolls,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.53,...,-6,9.0,ONSALE,108.0,2019-09-04,2019,9,0.013,-0.015,-0.015
2,Brandega-37905,Spookie Snacks,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,-6,17.0,ONSALE,204.0,2019-10-25,2019,10,0.013,-0.015,-0.015
3,Brandega-61951,Moo-a-licious,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.53,...,-6,39.0,ONSALE,468.0,2019-05-27,2019,5,0.013,-0.015,-0.015
4,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,-6,9.0,NOTONSALE,108.0,2019-02-15,2019,2,0.013,-0.015,-0.015

In [44]:
#assign random numbers to each promo
df_total2.Promo_Name.value_counts(dropna = False).sort_index()

Get Moving Again    25260
Moo-a-licious       25260
Spookie Snacks      25260
Thunder Rolls       25260
Name: Promo_Name, dtype: int64

In [45]:
wookie = pd.DataFrame(df_total3.groupby(['Promo_Name'])['PRICE'].mean())
wookie=wookie.drop(['PRICE'], axis=1)

wookie['Promo_Name_R'] = (np.random.randint(-30, 60, wookie.shape[0]))/1000
wookie.reset_index(level=0, inplace=True)
wookie.head()
df_total4 =df_total3.merge(wookie, on=['Promo_Name'], how='inner')
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,CASES,GROUP,UNITS,date,year,month,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,30.0,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,9.0,NOTONSALE,108.0,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,30.0,ONSALE,360.0,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,9.0,NOTONSALE,108.0,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,30.0,ONSALE,360.0,2019-02-15,2019,2,0.019,-0.015,-0.015,-0.013

In [46]:
#assign different values to sale and non-sale records
df_total4['GROUP_R'] = np.where(df_total4['GROUP'] == 'ONSALE', -0.10, 0.01)
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,GROUP,UNITS,date,year,month,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,ONSALE,360.0,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013,-0.10
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,NOTONSALE,108.0,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013,0.01
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,ONSALE,360.0,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,-0.10
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,NOTONSALE,108.0,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,0.01
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,ONSALE,360.0,2019-02-15,2019,2,0.019,-0.015,-0.015,-0.013,-0.10

In [47]:
df_total4.month.value_counts(dropna = False).sort_index()

2     25260
5     25260
9     25260
10    25260
Name: month, dtype: int64

In [48]:
#assign values to each month
conditions = [
    (df_total4['month'] == 2),
    (df_total4['month'] ==4),
    (df_total4['month'] ==7)]
choices = [-0.03, 0.02, 0.06]
df_total4['month_R'] = np.select(conditions, choices, default=0.02)

In [49]:
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,UNITS,date,year,month,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,360.0,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013,-0.10,-0.03
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,108.0,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013,0.01,-0.03
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,360.0,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,-0.10,-0.03
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,108.0,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,0.01,-0.03
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,360.0,2019-02-15,2019,2,0.019,-0.015,-0.015,-0.013,-0.10,-0.03

In [50]:
#generate a random number for each row that is either 1 or -1
import random
df_total4['randNumCol'] = np.random.choice([1, -1], df_total4.shape[0])
df_total4.head(100)

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,date,year,month,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R,randNumCol
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013,-0.10,-0.03,-1
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.013,-0.015,-0.015,-0.013,0.01,-0.03,-1
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,-0.10,-0.03,1
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,0.01,-0.03,-1
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.019,-0.015,-0.015,-0.013,-0.10,-0.03,-1
5,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.019,-0.015,-0.015,-0.013,0.01,-0.03,-1
6,Brandega-21543,Get Moving Again,Botann's,12345-33233-110,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.023,-0.015,-0.015,-0.013,-0.10,-0.03,1
7,Brandega-21543,Get Moving Again,Botann's,12345-33233-110,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.023,-0.015,-0.015,-0.013,0.01,-0.03,1
8,Brandega-21543,Get Moving Again,Botann's,12345-28816-111,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.000,-0.015,-0.015,-0.013,-0.10,-0.03,-1
9,Brandega-21543,Get Moving Again,Botann's,12345-28816-111,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.000,-0.015,-0.015,-0.013,0.01,-0.03,-1
10,Brandega-21543,Get Moving Again,Botann's,12345-80524-112,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.007,-0.015,-0.015,-0.013,-0.10,-0.03,1
11,Brandega-21543,Get Moving Again,Botann's,12345-80524-112,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.007,-0.015,-0.015,-0.013,0.01,-0.03,-1
12,Brandega-21543,Get Moving Again,Botann's,12345-78766-113,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.024,-0.015,-0.015,-0.013,-0.10,-0.03,-1
13,Brandega-21543,Get Moving Again,Botann's,12345-78766-113,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.024,-0.015,-0.015,-0.013,0.01,-0.03,1
14,Brandega-21543,Get Moving Again,Botann's,12345-78224-114,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.025,-0.015,-0.015,-0.013,-0.10,-0.03,1
15,Brandega-21543,Get Moving Again,Botann's,12345-78224-114,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.025,-0.015,-0.015,-0.013,0.01,-0.03,1
16,Brandega-21543,Get Moving Again,Botann's,12345-92102-115,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.004,-0.015,-0.015,-0.013,-0.10,-0.03,-1
17,Brandega-21543,Get Moving Again,Botann's,12345-92102-115,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.004,-0.015,-0.015,-0.013,0.01,-0.03,-1
18,Brandega-21543,Get Moving Again,Botann's,12345-90005-116,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.021,-0.015,-0.015,-0.013,-0.10,-0.03,-1
19,Brandega-21543,Get Moving Again,Botann's,12345-90005-116,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.021,-0.015,-0.015,-0.013,0.01,-0.03,1
20,Brandega-21543,Get Moving Again,Botann's,12345-28816-117,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.051,-0.015,-0.015,-0.013,-0.10,-0.03,1
21,Brandega-21543,Get Moving Again,Botann's,12345-28816-117,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.051,-0.015,-0.015,-0.013,0.01,-0.03,-1
22,Brandega-21543,Get Moving Again,Botann's,12345-22336-118,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.000,-0.015,-0.015,-0.013,-0.10,-0.03,-1
23,Brandega-21543,Get Moving Again,Botann's,12345-22336-118,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.000,-0.015,-0.015,-0.013,0.01,-0.03,1
24,Brandega-21543,Get Moving Again,Botann's,12345-75240-119,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.006,-0.015,-0.015,-0.013,-0.10,-0.03,1
25,Brandega-21543,Get Moving Again,Botann's,12345-75240-119,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.006,-0.015,-0.015,-0.013,0.01,-0.03,1
26,Brandega-21543,Get Moving Again,Botann's,12345-90005-120,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.045,-0.015,-0.015,-0.013,-0.10,-0.03,1
27,Brandega-21543,Get Moving Again,Botann's,12345-90005-120,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.045,-0.015,-0.015,-0.013,0.01,-0.03,-1
28,Brandega-21543,Get Moving Again,Botann's,12345-78224-121,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.009,-0.015,-0.015,-0.013,-0.10,-0.03,-1
29,Brandega-21543,Get Moving Again,Botann's,12345-78224-121,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.009,-0.015,-0.015,-0.013,0.01,-0.03,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Brandega-21543,Get Moving Again,Botann's,12345-73502-142,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.005,-0.015,-0.015,-0.013,-0.10,-0.03,-1
71,Brandega-21543,Get Moving Again,Botann's,12345-73502-142,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.005,-0.015,-0.015,-0.013,0.01,-0.03,-1
72,Brandega-21543,Get Moving Again,Botann's,12345-32277-143,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.027,-0.015,-0.015,-0.013,-0.10,-0.03,-1
73,Brandega-21543,Get Moving Again,Botann's,12345-32277-143,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.027,-0.015,-0.015,-0.013,0.01,-0.03,-1
74,Brandega-21543,Get Moving Again,Botann's,12345-65616-144,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.030,-0.015,-0.015,-0.013,-0.10,-0.03,1
75,Brandega-21543,Get Moving Again,Botann's,12345-65616-144,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.030,-0.015,-0.015,-0.013,0.01,-0.03,-1
76,Brandega-21543,Get Moving Again,Botann's,12345-26003-145,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.019,-0.015,-0.015,-0.013,-0.10,-0.03,1
77,Brandega-21543,Get Moving Again,Botann's,12345-26003-145,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.019,-0.015,-0.015,-0.013,0.01,-0.03,1
78,Brandega-21543,Get Moving Again,Botann's,12345-22336-146,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.005,-0.015,-0.015,-0.013,-0.10,-0.03,-1
79,Brandega-21543,Get Moving Again,Botann's,12345-22336-146,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.005,-0.015,-0.015,-0.013,0.01,-0.03,-1
80,Brandega-21543,Get Moving Again,Botann's,12345-32550-147,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.053,-0.015,-0.015,-0.013,-0.10,-0.03,1
81,Brandega-21543,Get Moving Again,Botann's,12345-32550-147,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.053,-0.015,-0.015,-0.013,0.01,-0.03,-1
82,Brandega-21543,Get Moving Again,Botann's,12345-78224-148,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.003,-0.015,-0.015,-0.013,-0.10,-0.03,-1
83,Brandega-21543,Get Moving Again,Botann's,12345-78224-148,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.003,-0.015,-0.015,-0.013,0.01,-0.03,1
84,Brandega-21543,Get Moving Again,Botann's,12345-94104-149,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.034,-0.015,-0.015,-0.013,-0.10,-0.03,1
85,Brandega-21543,Get Moving Again,Botann's,12345-94104-149,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.034,-0.015,-0.015,-0.013,0.01,-0.03,1
86,Brandega-21543,Get Moving Again,Botann's,12345-94249-150,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.052,-0.015,-0.015,-0.013,-0.10,-0.03,-1
87,Brandega-21543,Get Moving Again,Botann's,12345-94249-150,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.052,-0.015,-0.015,-0.013,0.01,-0.03,-1
88,Brandega-21543,Get Moving Again,Botann's,12345-85261-151,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.057,-0.015,-0.015,-0.013,-0.10,-0.03,-1
89,Brandega-21543,Get Moving Again,Botann's,12345-85261-151,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.057,-0.015,-0.015,-0.013,0.01,-0.03,1
90,Brandega-21543,Get Moving Again,Botann's,12345-37421-152,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.009,-0.015,-0.015,-0.013,-0.10,-0.03,-1
91,Brandega-21543,Get Moving Again,Botann's,12345-37421-152,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.009,-0.015,-0.015,-0.013,0.01,-0.03,-1
92,Brandega-21543,Get Moving Again,Botann's,12345-53284-153,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,-0.024,-0.015,-0.015,-0.013,-0.10,-0.03,-1
93,Brandega-21543,Get Moving Again,Botann's,12345-53284-153,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,-0.024,-0.015,-0.015,-0.013,0.01,-0.03,-1
94,Brandega-21543,Get Moving Again,Botann's,12345-79914-154,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,-0.10,-0.03,1
95,Brandega-21543,Get Moving Again,Botann's,12345-79914-154,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.028,-0.015,-0.015,-0.013,0.01,-0.03,1
96,Brandega-21543,Get Moving Again,Botann's,12345-65110-155,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.000,-0.015,-0.015,-0.013,-0.10,-0.03,1
97,Brandega-21543,Get Moving Again,Botann's,12345-65110-155,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.000,-0.015,-0.015,-0.013,0.01,-0.03,1
98,Brandega-21543,Get Moving Again,Botann's,12345-48206-156,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019-02-15,2019,2,0.036,-0.015,-0.015,-0.013,-0.10,-0.03,-1
99,Brandega-21543,Get Moving Again,Botann's,12345-48206-156,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019-02-15,2019,2,0.036,-0.015,-0.015,-0.013,0.01,-0.03,-1

In [51]:
#sum the generated numbers for each row, making a unique value for each row called total_r

cols = ['Retailer_R','PRODUCT_GROUP_ID_R','Product_Unit_UPC_R','Promo_Name_R','GROUP_R','month_R']
df_total4['TOTAL_R'] = df_total4[cols].astype(float).sum(axis=1)

In [52]:
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,year,month,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R,randNumCol,TOTAL_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019,2,0.013,-0.015,-0.015,-0.013,-0.10,-0.03,-1,-0.160
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019,2,0.013,-0.015,-0.015,-0.013,0.01,-0.03,-1,-0.050
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019,2,0.028,-0.015,-0.015,-0.013,-0.10,-0.03,1,-0.145
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,2019,2,0.028,-0.015,-0.015,-0.013,0.01,-0.03,-1,-0.035
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,2019,2,0.019,-0.015,-0.015,-0.013,-0.10,-0.03,-1,-0.154

In [53]:
df_total4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101040 entries, 0 to 101039
Data columns (total 30 columns):
Promo_ID                       101040 non-null object
Promo_Name                     101040 non-null object
Retailer_Name                  101040 non-null object
Retailer_Store_ID              101040 non-null object
Product_Group_ID               101040 non-null object
Product_Unit_UPC               101040 non-null object
Product_Brand                  101040 non-null object
Product_Brand_Category_Desc    101040 non-null object
Product_Unit_Description       101040 non-null object
PRICE                          101040 non-null float64
TPP_Type                       101040 non-null object
TPP_Start                      101040 non-null object
TPP_End                        101040 non-null object
Product_Units_Per_Case         101040 non-null float64
Product_CPG_COGS_Price         101040 non-null float64
SIZE                           101040 non-null object
CASES                          101040 non-null float64
GROUP                          101040 non-null object
UNITS                          101040 non-null float64
date                           101040 non-null datetime64[ns]
year                           101040 non-null int64
month                          101040 non-null int64
Retailer_R                     101040 non-null float64
PRODUCT_GROUP_ID_R             101040 non-null float64
Product_Unit_UPC_R             101040 non-null float64
Promo_Name_R                   101040 non-null float64
GROUP_R                        101040 non-null float64
month_R                        101040 non-null float64
randNumCol                     101040 non-null int64
TOTAL_R                        101040 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(3), object(14)
memory usage: 23.9+ MB

In [54]:
#create new prices based on the adjustment numbers generated on the previous lines
df_total4['PRICE_R']=df_total4['PRICE']*(1.0-(df_total4['randNumCol']*df_total4['TOTAL_R']))
df_total4['UNITS_R']=df_total4['UNITS']*(1.0+(df_total4['randNumCol']*df_total4['TOTAL_R']))

In [55]:
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R,randNumCol,TOTAL_R,PRICE_R,UNITS_R
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,0.013,-0.015,-0.015,-0.013,-0.10,-0.03,-1,-0.160,0.46200,417.60
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,0.013,-0.015,-0.015,-0.013,0.01,-0.03,-1,-0.050,0.56050,113.40
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,0.028,-0.015,-0.015,-0.013,-0.10,-0.03,1,-0.145,0.62975,307.80
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,0.028,-0.015,-0.015,-0.013,0.01,-0.03,-1,-0.035,0.56935,111.78
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,0.019,-0.015,-0.015,-0.013,-0.10,-0.03,-1,-0.154,0.46530,415.44

In [56]:
#Make sure that size is always positive, create a new variable called price_size convert size to a numeric value
df_total4.SIZE = df_total4.SIZE.astype(float).fillna(0.0)


df_total4['PRICE_SIZE']=df_total4['PRICE_R']*df_total4['SIZE']


df_total4.SIZE.value_counts(dropna = False).sort_index()

-6.0     63992
 32.0    16840
 48.0    20208
Name: SIZE, dtype: int64

In [57]:
#create a dummy variable for ice cream
df_total4['SIZE_16'] = np.where(df_total4['SIZE'] == 16, 1, 0)
df_total4['SIZE_16_PRICE']=df_total4['SIZE_16']*df_total4['PRICE']
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,PRICE,...,Promo_Name_R,GROUP_R,month_R,randNumCol,TOTAL_R,PRICE_R,UNITS_R,PRICE_SIZE,SIZE_16,SIZE_16_PRICE
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,-0.013,-0.10,-0.03,-1,-0.160,0.46200,417.60,-2.7720,0,0.0
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,-0.013,0.01,-0.03,-1,-0.050,0.56050,113.40,-3.3630,0,0.0
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,-0.013,-0.10,-0.03,1,-0.145,0.62975,307.80,-3.7785,0,0.0
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.59,...,-0.013,0.01,-0.03,-1,-0.035,0.56935,111.78,-3.4161,0,0.0
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,0.55,...,-0.013,-0.10,-0.03,-1,-0.154,0.46530,415.44,-2.7918,0,0.0

In [58]:
#bring in the stats library to build the model
import statsmodels.api as sm  
#scikit learn is another library that you could use.  Its focus is more on prediction.  This library is more focused on understanding why and how certain variables impact your target.  Which is quantity in this case

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [59]:
df_total4=df_total4.drop(['PRICE'], axis=1)

In [60]:
#expand the data set to include multiple rows per campaign.  

v = df_total4[['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE','UNITS_R']]
w = df_total4[['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE','UNITS_R']]
x = df_total4[['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE','UNITS_R']]
y = df_total4[['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE','UNITS_R']]
z = df_total4[['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE','UNITS_R']]

In [61]:
#vary the price for each newly created row as some function of the original price.  The idea is to get multiple price points per campaign.
pricev = pd.DataFrame((v['PRICE_R']*0.95))
pricew = pd.DataFrame((w['PRICE_R']*0.85))
pricey = pd.DataFrame((y['PRICE_R']*0.90))
pricez= pd.DataFrame((z['PRICE_R']*0.80))
#var the quantity for each newly created row as some multiple of the original quantity
qv = pd.DataFrame((v['UNITS_R']*1.05))
qw = pd.DataFrame((w['UNITS_R']*1.15))
qy = pd.DataFrame((y['UNITS_R']*1.10))
qz= pd.DataFrame((z['UNITS_R']*1.20))

In [62]:
df_total4.head()

,Promo_ID,Promo_Name,Retailer_Name,Retailer_Store_ID,Product_Group_ID,Product_Unit_UPC,Product_Brand,Product_Brand_Category_Desc,Product_Unit_Description,TPP_Type,...,Promo_Name_R,GROUP_R,month_R,randNumCol,TOTAL_R,PRICE_R,UNITS_R,PRICE_SIZE,SIZE_16,SIZE_16_PRICE
0,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,D,...,-0.013,-0.10,-0.03,-1,-0.160,0.46200,417.60,-2.7720,0,0.0
1,Brandega-21543,Get Moving Again,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,N,...,-0.013,0.01,-0.03,-1,-0.050,0.56050,113.40,-3.3630,0,0.0
2,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,D,...,-0.013,-0.10,-0.03,1,-0.145,0.62975,307.80,-3.7785,0,0.0
3,Brandega-21543,Get Moving Again,Botann's,12345-79914-108,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,N,...,-0.013,0.01,-0.03,-1,-0.035,0.56935,111.78,-3.4161,0,0.0
4,Brandega-21543,Get Moving Again,Botann's,12345-90005-109,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,D,...,-0.013,-0.10,-0.03,-1,-0.154,0.46530,415.44,-2.7918,0,0.0

In [63]:
v=v.drop(['PRICE_R','UNITS_R'], axis=1)
v = pd.concat([v, pricev,qv], axis=1)
v['PRICE_POINT']='V'
stuff=df_total4[['Promo_ID','Retailer_Store_ID','Product_Unit_UPC','TPP_Type']]
v = pd.concat([v, stuff], axis=1)

In [64]:

w=w.drop(['PRICE_R','UNITS_R'], axis=1)
w = pd.concat([w, pricew,qw], axis=1)
w['PRICE_POINT']='W'

w = pd.concat([w, stuff], axis=1)

y=y.drop(['PRICE_R','UNITS_R'], axis=1)
y = pd.concat([y, pricey,qy], axis=1)
y['PRICE_POINT']='Y'
y = pd.concat([y, stuff], axis=1)

z=z.drop(['PRICE_R','UNITS_R'], axis=1)
z = pd.concat([z, pricez,qz], axis=1)
z['PRICE_POINT']='Z'
z = pd.concat([z, stuff], axis=1)

x['PRICE_POINT']='X'
x = pd.concat([x, stuff], axis=1)

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [65]:
xxx=pd.concat([v,w,x,y,z],axis=0)

In [66]:
#build the ols model

independent=xxx[['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE']]
P=xxx['PRICE_POINT']
stuff=xxx[['Promo_ID','Retailer_Store_ID','Product_Unit_UPC','TPP_Type']]

independent = sm.add_constant(independent, prepend=False)

dependent=xxx['UNITS_R']

In [67]:
mod = sm.OLS(dependent, independent)

In [68]:
res = mod.fit()

In [69]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                UNITS_R   R-squared:                       0.441
Model:                            OLS   Adj. R-squared:                  0.441
Method:                 Least Squares   F-statistic:                 9.975e+04
Date:                Thu, 17 Jan 2019   Prob (F-statistic):               0.00
Time:                        17:33:29   Log-Likelihood:            -3.1342e+06
No. Observations:              505200   AIC:                         6.268e+06
Df Residuals:                  505195   BIC:                         6.268e+06
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
PRICE_R     -118.1371      0.951   -124.277      0.000    -120.000    -116.274
TOTAL_R    -1192.5101      2.036   -585.617      0.000   -1196.501   -1188.519
SIZE           6.6549      0.034    194.470      0.000       6.588       6.722
PRICE_SIZE    -0.0295      0.013     -2.225      0.026      -0.055      -0.004
const        307.7162      0.667    461.425      0.000     306.409     309.023
==============================================================================
Omnibus:                    83998.178   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           134388.684
Skew:                           1.160   Prob(JB):                         0.00
Kurtosis:                       4.002   Cond. No.                     1.10e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [70]:
ypred = pd.DataFrame(res.predict(independent))
ypred.columns = ['P_UNITS']

In [71]:
model_output=pd.concat([ypred,independent,stuff,P], axis=1)
model_output.head()

,P_UNITS,PRICE_R,TOTAL_R,SIZE,PRICE_SIZE,const,Promo_ID,Retailer_Store_ID,Product_Unit_UPC,TPP_Type,PRICE_POINT
0,406.819611,0.438900,-0.160,-6.0,-2.7720,1.0,Brandega-21543,12345-94249-107,22308-22106,D,V
1,264.606246,0.532475,-0.050,-6.0,-3.3630,1.0,Brandega-21543,12345-94249-107,22308-22106,N,V
2,370.135008,0.598263,-0.145,-6.0,-3.7785,1.0,Brandega-21543,12345-79914-108,22308-22106,D,V
3,245.726922,0.540882,-0.035,-6.0,-3.4161,1.0,Brandega-21543,12345-79914-108,22308-22106,N,V
4,399.294774,0.442035,-0.154,-6.0,-2.7918,1.0,Brandega-21543,12345-90005-109,22308-22106,D,V

In [72]:
df_main_stuff=df_total4.drop(['PRICE_R','TOTAL_R','SIZE','PRICE_SIZE'], axis=1)
df_main_stuff.columns

Index(['Promo_ID', 'Promo_Name', 'Retailer_Name', 'Retailer_Store_ID',
       'Product_Group_ID', 'Product_Unit_UPC', 'Product_Brand',
       'Product_Brand_Category_Desc', 'Product_Unit_Description', 'TPP_Type',
       'TPP_Start', 'TPP_End', 'Product_Units_Per_Case',
       'Product_CPG_COGS_Price', 'CASES', 'GROUP', 'UNITS', 'date', 'year',
       'month', 'Retailer_R', 'PRODUCT_GROUP_ID_R', 'Product_Unit_UPC_R',
       'Promo_Name_R', 'GROUP_R', 'month_R', 'randNumCol', 'UNITS_R',
       'SIZE_16', 'SIZE_16_PRICE'],
      dtype='object')

In [73]:
df_main_stuff=df_main_stuff.drop_duplicates(subset=['Promo_ID','Retailer_Store_ID','Product_Unit_UPC','TPP_Type'], keep='first', inplace=False)
df_main_stuff.shape

(101040, 30)

In [74]:
df_total5 =model_output.merge(df_main_stuff, on=['Promo_ID','Retailer_Store_ID','Product_Unit_UPC','TPP_Type'], how='inner')
df_total5.shape

(505200, 37)

In [75]:
df_total5.describe()

,P_UNITS,PRICE_R,TOTAL_R,SIZE,PRICE_SIZE,const,Product_Units_Per_Case,Product_CPG_COGS_Price,CASES,UNITS,...,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R,randNumCol,UNITS_R,SIZE_16,SIZE_16_PRICE
count,505200.000000,505200.000000,505200.000000,505200.000000,505200.000000,505200.0,505200.000000,505200.000000,505200.000000,505200.000000,...,505200.000000,505200.000000,505200.000000,505200.000000,505200.000,505200.000000,505200.000000,505200.000000,505200.0,505200.0
mean,197.687581,1.361120,0.018398,11.133333,46.861966,1.0,10.200000,1.124333,18.937500,179.625000,...,0.013848,-0.000733,0.009033,0.033750,-0.045,0.007500,-0.003860,179.715983,0.0,0.0
std,106.362434,1.201958,0.084902,23.028604,73.554440,0.0,2.441314,0.974481,16.704565,143.501743,...,0.025843,0.020541,0.029465,0.028012,0.055,0.021651,0.999994,144.801565,0.0,0.0
min,-163.756113,0.344520,-0.217000,-6.000000,-4.209060,1.0,6.000000,0.420000,4.000000,48.000000,...,-0.030000,-0.015000,-0.030000,-0.013000,-0.100,-0.030000,-1.000000,36.528000,0.0,0.0
25%,117.415300,0.486884,-0.039000,-6.000000,-3.422370,1.0,8.000000,0.420000,7.000000,79.000000,...,-0.008000,-0.015000,-0.024000,0.025250,-0.100,0.007500,-1.000000,71.652000,0.0,0.0
50%,200.416546,0.558169,0.019000,-6.000000,-3.118500,1.0,12.000000,0.420000,11.000000,108.000000,...,0.012000,-0.014000,0.009000,0.044500,-0.045,0.020000,-1.000000,108.864000,0.0,0.0
75%,268.733035,2.300000,0.084000,32.000000,80.400000,1.0,12.000000,1.790000,30.000000,241.000000,...,0.036000,0.014000,0.043000,0.053000,0.010,0.020000,1.000000,239.409000,0.0,0.0
max,566.251411,4.680480,0.239000,48.000000,224.663040,1.0,12.000000,2.800000,77.000000,468.000000,...,0.059000,0.043000,0.056000,0.059000,0.010,0.020000,1.000000,522.288000,0.0,0.0

In [76]:
df_total5.loc[df_total5['P_UNITS'] < 0, 'P_UNITS'] = 0
df_total5.describe()

,P_UNITS,PRICE_R,TOTAL_R,SIZE,PRICE_SIZE,const,Product_Units_Per_Case,Product_CPG_COGS_Price,CASES,UNITS,...,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R,randNumCol,UNITS_R,SIZE_16,SIZE_16_PRICE
count,505200.000000,505200.000000,505200.000000,505200.000000,505200.000000,505200.0,505200.000000,505200.000000,505200.000000,505200.000000,...,505200.000000,505200.000000,505200.000000,505200.000000,505200.000,505200.000000,505200.000000,505200.000000,505200.0,505200.0
mean,198.463455,1.361120,0.018398,11.133333,46.861966,1.0,10.200000,1.124333,18.937500,179.625000,...,0.013848,-0.000733,0.009033,0.033750,-0.045,0.007500,-0.003860,179.715983,0.0,0.0
std,104.664609,1.201958,0.084902,23.028604,73.554440,0.0,2.441314,0.974481,16.704565,143.501743,...,0.025843,0.020541,0.029465,0.028012,0.055,0.021651,0.999994,144.801565,0.0,0.0
min,0.000000,0.344520,-0.217000,-6.000000,-4.209060,1.0,6.000000,0.420000,4.000000,48.000000,...,-0.030000,-0.015000,-0.030000,-0.013000,-0.100,-0.030000,-1.000000,36.528000,0.0,0.0
25%,117.415300,0.486884,-0.039000,-6.000000,-3.422370,1.0,8.000000,0.420000,7.000000,79.000000,...,-0.008000,-0.015000,-0.024000,0.025250,-0.100,0.007500,-1.000000,71.652000,0.0,0.0
50%,200.416546,0.558169,0.019000,-6.000000,-3.118500,1.0,12.000000,0.420000,11.000000,108.000000,...,0.012000,-0.014000,0.009000,0.044500,-0.045,0.020000,-1.000000,108.864000,0.0,0.0
75%,268.733035,2.300000,0.084000,32.000000,80.400000,1.0,12.000000,1.790000,30.000000,241.000000,...,0.036000,0.014000,0.043000,0.053000,0.010,0.020000,1.000000,239.409000,0.0,0.0
max,566.251411,4.680480,0.239000,48.000000,224.663040,1.0,12.000000,2.800000,77.000000,468.000000,...,0.059000,0.043000,0.056000,0.059000,0.010,0.020000,1.000000,522.288000,0.0,0.0

In [77]:
df_total5=df_total5.rename(index=str, columns={"PRICE_R": "PRICE"})

#tips = df_total5.sort_values(['Promo_ID', 'Retailer_Store_ID', 'Product_Unit_UPC'])
df_total5.head()

,P_UNITS,PRICE,TOTAL_R,SIZE,PRICE_SIZE,const,Promo_ID,Retailer_Store_ID,Product_Unit_UPC,TPP_Type,...,Retailer_R,PRODUCT_GROUP_ID_R,Product_Unit_UPC_R,Promo_Name_R,GROUP_R,month_R,randNumCol,UNITS_R,SIZE_16,SIZE_16_PRICE
0,406.819611,0.4389,-0.16,-6.0,-2.772,1.0,Brandega-21543,12345-94249-107,22308-22106,D,...,0.013,-0.015,-0.015,-0.013,-0.1,-0.03,-1,417.6,0,0.0
1,412.277545,0.3927,-0.16,-6.0,-2.772,1.0,Brandega-21543,12345-94249-107,22308-22106,D,...,0.013,-0.015,-0.015,-0.013,-0.1,-0.03,-1,417.6,0,0.0
2,404.090643,0.4620,-0.16,-6.0,-2.772,1.0,Brandega-21543,12345-94249-107,22308-22106,D,...,0.013,-0.015,-0.015,-0.013,-0.1,-0.03,-1,417.6,0,0.0
3,409.548578,0.4158,-0.16,-6.0,-2.772,1.0,Brandega-21543,12345-94249-107,22308-22106,D,...,0.013,-0.015,-0.015,-0.013,-0.1,-0.03,-1,417.6,0,0.0
4,415.006512,0.3696,-0.16,-6.0,-2.772,1.0,Brandega-21543,12345-94249-107,22308-22106,D,...,0.013,-0.015,-0.015,-0.013,-0.1,-0.03,-1,417.6,0,0.0

In [78]:
#keep the relevant variables
df_total5 = df_total5[['Promo_ID',
 'Promo_Name',
 'PRICE_POINT',
'Retailer_Name',
 'Retailer_Store_ID',
 'Product_Group_ID',
 'Product_Unit_UPC',
 'Product_Brand',
 'Product_Brand_Category_Desc',
 'Product_Unit_Description',
 'PRICE',
 'TPP_Type',
 'TPP_Start',
 'TPP_End',
 'Product_Units_Per_Case',
 'Product_CPG_COGS_Price',
 'SIZE',
 'CASES',
 'GROUP',
 'UNITS',     
 'P_UNITS']]

In [79]:
#capitalize the field names to load in dash
df_total5=df_total5.rename(str.upper, axis='columns')

In [80]:
df_total5.PRICE_POINT.value_counts(dropna = False).sort_index()

V    101040
W    101040
X    101040
Y    101040
Z    101040
Name: PRICE_POINT, dtype: int64

In [81]:
#De-Dup the file
df_total5=df_total5.drop_duplicates(subset=['PROMO_ID','RETAILER_STORE_ID','PRODUCT_UNIT_UPC','GROUP','PRICE_POINT'], keep='first', inplace=False)
df_total5.shape
df_total5.head()

,PROMO_ID,PROMO_NAME,PRICE_POINT,RETAILER_NAME,RETAILER_STORE_ID,PRODUCT_GROUP_ID,PRODUCT_UNIT_UPC,PRODUCT_BRAND,PRODUCT_BRAND_CATEGORY_DESC,PRODUCT_UNIT_DESCRIPTION,...,TPP_TYPE,TPP_START,TPP_END,PRODUCT_UNITS_PER_CASE,PRODUCT_CPG_COGS_PRICE,SIZE,CASES,GROUP,UNITS,P_UNITS
0,Brandega-21543,Get Moving Again,V,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,...,D,2019-02-15,2019-02-24,12.0,0.42,-6.0,30.0,ONSALE,360.0,406.819611
1,Brandega-21543,Get Moving Again,W,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,...,D,2019-02-15,2019-02-24,12.0,0.42,-6.0,30.0,ONSALE,360.0,412.277545
2,Brandega-21543,Get Moving Again,X,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,...,D,2019-02-15,2019-02-24,12.0,0.42,-6.0,30.0,ONSALE,360.0,404.090643
3,Brandega-21543,Get Moving Again,Y,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,...,D,2019-02-15,2019-02-24,12.0,0.42,-6.0,30.0,ONSALE,360.0,409.548578
4,Brandega-21543,Get Moving Again,Z,Botann's,12345-94249-107,CC-D-Y-R-6,22308-22106,Cheerful Cow,Cheerful Cow Regular Yogurt 6 oz,Cheerful Cow Strawberry 6 oz,...,D,2019-02-15,2019-02-24,12.0,0.42,-6.0,30.0,ONSALE,360.0,415.006512

In [82]:

# @hidden_cell
credentials_1 = {
  'database':'BLUDB',
  'password':"""xxxxxxx""",
  'sg_service_url':'https://sgmanager.ng.bluemix.net',
  'host':'dashdb-entry-yp-dal09-08.services.dal.bluemix.net',
  'username':'dash10112',
  'url':'https://undefined'
}

In [83]:
df_load=df_total5

In [84]:
#load records to dashdb

import ibmdbpy
from ibmdbpy import IdaDataBase
idadb = idadb = IdaDataBase(dsn="DASHDB;Database=BLUDB;Hostname=" + credentials_1["host"] + ";PROTOCOL=TCPIP;UID=" + credentials_1["username"] + ";PWD=" + credentials_1["password"])

In [85]:
 idadb.as_idadataframe(df_load, "YOGURT_FINAL_PRODUCTION",clear_existing = True)

DataFrame will be splitted into 1330 chunks. (380 rows per chunk)
Uploaded: 1330/1330... [DONE]

In [86]:
#spark_df = sqlContext.createDataFrame(df_total5)

In [87]:
#### this inserts records


#from ingest.Connectors import Connectors

#dashdbsaveoption = {
 #                    Connectors.DASHDB.HOST              : 'dashdb-entry-yp-dal09-08.services.dal.bluemix.net',
  #                   Connectors.DASHDB.DATABASE          : 'BLUDB',
   #                  Connectors.DASHDB.USERNAME          : 'dash10112',
    #                 Connectors.DASHDB.PASSWORD          : '-rMyl8IIE1~n',
     #                Connectors.DASHDB.TARGET_TABLE_NAME : 'ICE_CREAM',
      #               Connectors.DASHDB.TARGET_WRITE_MODE : 'merge' }

#spark_df = spark_df.write.format("com.ibm.spark.discover").options(**dashdbsaveoption).save()

In [88]:
#### this deletes then inserts records


#from ingest.Connectors import Connectors

#dashdbsaveoption = {
 #                    Connectors.DASHDB.HOST              : 'dashdb-entry-yp-dal09-08.services.dal.bluemix.net',
  #                   Connectors.DASHDB.DATABASE          : 'BLUDB',
   #                  Connectors.DASHDB.USERNAME          : 'dash10112',
    #                 Connectors.DASHDB.PASSWORD          : '-rMyl8IIE1~n',
     #                Connectors.DASHDB.TARGET_TABLE_NAME : 'DASH10112.ICE_CREAM',
      #               Connectors.DASHDB.TARGET_TABLE_ACTION : 'replace' }

#spark_df = spark_df.write.format("com.ibm.spark.discover").options(**dashdbsaveoption).save()

In [89]:
#This reads records


#from ingest.Connectors import Connectors
#from pyspark.sql import SQLContext
#sqlContext = SQLContext(sc)

#dashDBloadOptions = { Connectors.DASHDB.HOST              : 'dashdb-entry-yp-dal09-08.services.dal.bluemix.net',
 #                     Connectors.DASHDB.DATABASE          : 'BLUDB',
  #                    Connectors.DASHDB.USERNAME          : 'dash10112',
   #                   Connectors.DASHDB.PASSWORD          : '-rMyl8IIE1~n',
    #                  Connectors.DASHDB.SOURCE_TABLE_NAME : 'ICE_CREAM'}

#dashdbDF = sqlContext.read.format("com.ibm.spark.discover").options(**dashDBloadOptions).load()
#dashdbDF.printSchema()
#dashdbDF.show()

In [90]:
#abcd=dashdbDF.toPandas()

In [91]:
#abcd.shape
#abcd.info()